:root {
  --sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --serif: Merriweather, Georgia, "Times New Roman", Times, serif;
}

html,
body {
  font-size: 18px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--sans-serif);
  min-height: (100vh);
}

h1 {
  margin: 1.33rem 0;
}

h2 {
  margin: 1.25rem 0;
}

h3, h4, h5, h6 {
  margin: .9rem 0;
}

p {
  margin: .75rem 0;
}

dl > div {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

dl > div:nth-child(odd) {
  background-color: aliceblue;
}

dl > div dt {
  grid-row: 1 / 100;
  align-self: center;
  text-align: center;

}

dt {
  font-weight: 400;
  font-size: 1.24rem;
}
